In [59]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
imdb = pd.read_csv("../datasets/imdb/imdb_top_1000.csv")

In [5]:
imdb.head()

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"

## Relacao entre genero e preco

In [15]:
imdb.Gross = imdb.Gross.str.replace(",","")
imdb.Gross = imdb.Gross.astype(float)

In [10]:
imdb["gender01"] = imdb.Genre.str.split(",", expand=True).iloc[:,[0]]
imdb["gender02"] = imdb.Genre.str.split(",", expand=True).iloc[:,[1]]
imdb["gender03"] = imdb.Genre.str.split(",", expand=True).iloc[:,[2]]

In [16]:
imdb

,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross,gender01,gender02,gender03
0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0,Drama,None,None
1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0,Crime,Drama,None
2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0,Action,Crime,Drama
3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0,Crime,Drama,None
4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0,Crime,Drama,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,NaN,Comedy,Drama,Romance
996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,NaN,Drama,Western,None
997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,30500000.0,Drama,Romance,War
998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,NaN,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,NaN,Drama,War,None
999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,NaN,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,NaN,Crime,Mystery,Thriller

## Revenue per Director

In [29]:
directors = imdb[["Director", "Gross", "IMDB_Rating"]]
directors.sort_values(by="Director", ascending=True)

                Director      Gross  IMDB_Rating
65            Aamir Khan  1223869.0          8.4
612         Aaron Sorkin        NaN          7.8
734  Abdellatif Kechiche  2199675.0          7.7
577     Abhishek Chaubey        NaN          7.8
735      Abhishek Kapoor  1122527.0          7.7
..                   ...        ...          ...
138       Zaza Urushadze   144501.0          8.2
334          Zoya Akhtar  5566534.0          8.0
221          Zoya Akhtar  3108485.0          8.1
92           Çagan Irmak        NaN          8.3
366     Ömer Faruk Sorak        NaN          8.0

[1000 rows x 3 columns]

In [64]:
directors_unique = directors.Director.unique()
len(directors_unique)

548

In [28]:
directors

                 Director        Gross  IMDB_Rating  Count
0          Frank Darabont   28341469.0          9.3    NaN
1    Francis Ford Coppola  134966411.0          9.2    NaN
2       Christopher Nolan  534858444.0          9.0    NaN
3    Francis Ford Coppola   57300000.0          9.0    NaN
4            Sidney Lumet    4360000.0          9.0    NaN
..                    ...          ...          ...    ...
995         Blake Edwards          NaN          7.6    NaN
996        George Stevens          NaN          7.6    NaN
997        Fred Zinnemann   30500000.0          7.6    NaN
998      Alfred Hitchcock          NaN          7.6    NaN
999      Alfred Hitchcock          NaN          7.6    NaN

[1000 rows x 4 columns]

In [37]:
director_count = directors.Director.value_counts().reset_index()
director_count_dict = dict(zip(director_count["index"], director_count.Director))

In [ ]:
director_count_dict

In [ ]:
directors["Count"] = directors.Director.map(director_count_dict)

In [40]:
directors

                 Director        Gross  IMDB_Rating  Count
0          Frank Darabont   28341469.0          9.3      2
1    Francis Ford Coppola  134966411.0          9.2      5
2       Christopher Nolan  534858444.0          9.0      8
3    Francis Ford Coppola   57300000.0          9.0      5
4            Sidney Lumet    4360000.0          9.0      5
..                    ...          ...          ...    ...
995         Blake Edwards          NaN          7.6      1
996        George Stevens          NaN          7.6      1
997        Fred Zinnemann   30500000.0          7.6      4
998      Alfred Hitchcock          NaN          7.6     14
999      Alfred Hitchcock          NaN          7.6     14

[1000 rows x 4 columns]

## Mean rating per director

In [56]:
directors_mean = directors.groupby("Director")["IMDB_Rating"].mean().reset_index()
directors_mean = directors_mean.sort_values(by=directors_mean.columns[1], ascending=False)

In [58]:
directors_mean

            Director  IMDB_Rating
141   Frank Darabont         8.95
191   Irvin Kershner         8.70
284   Lana Wachowski         8.70
158     George Lucas         8.60
427  Roberto Benigni         8.60
..               ...          ...
124       Eric Bress         7.60
482        Ted Demme         7.60
350      Neil Burger         7.60
46    Bennett Miller         7.60
315      Mary Harron         7.60

[548 rows x 2 columns]

In [ ]:
_